# Data Science Tools and Ecosystem

**Objectives:**
- List of popular languages for Data Science
- List of popular libraries for Data Science
- Table of popular tools used for Data Science
- Examples of how python code is working

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. numpy


|Data Science Tools|
|-----------------|
|Jupyter Notebooks|
|Anaconda |
|Git/GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bartosz